<div class="wrapper">

  <!-- ------------------------- Navbar --------------------------------------- -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Apni Bakery</a>
    <div class="hamburger" (click)="Toggle()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="nav-links" (click)="Toggle()" id="nav-links">
      
      <li><a href="#home">Home</a></li>
      <li><a href="#product">Product</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <!-- <section></section> -->
  
 
 
 
 
  <!--<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Apni Bakery</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>       
        </ul>  
      </div>
    </div>
  </nav> --> 
 
  <!--<nav class="navbar navbar-expand-lg navbar-dark sticky-top"> 
      <a class="navbar-brand" href="#">Apni Bakery</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#about">About</a>
          <a class="nav-item nav-link" href="#product">Product</a>
          <a class="nav-item nav-link" href="#contact">Contact</a>
        </div>
      </div>
  </nav> -->  

  <!-- --------------------------------- Home Section---------------------------------------- -->
  <section id="home">
    <!-- video background -->
    <div class="embed-responsive embed-responsive-16by9">
      <video loop muted autoplay id="video-background">
        <source src="../assets/img/Cookies.mp4" type="video/mp4">
      </video>
      <div class="video-overlay"></div>
    </div>
    <!-- Main Title -->
    <h1 class="main-title animated fadeInDownBig delay-0.5s">Apni Bakery</h1>
    <h3 class="sub-title animated fadeInDownBig delay-1s">Be Healthy, Spread Smile...</h3>
  </section>

  <!-- ------------------------------ Product ------------------------------------- -->
  
  
  <section class="gallery-section" id="product">
    <div class="container-fluid">
        <h5 class="product-title">Our Products</h5>
        <!-- Image 1 -->
        <article class="gallery-article animated rotateIn">
            <div class="gallery-zoom">
                <img src="../assets/img/product/blackforestcake.jpg">
            </div>
            <p>Blackforest Cake</p>
        </article>

        <!-- Image 2 -->
        <article class="gallery-article animated rotateIn">
            <div class="gallery-zoom">
                <img src="../assets/img/product/jeera-cookies.jpg">
            </div>
            <p>Jeera Cookies</p>
        </article>

        <!-- Image 3 -->
        <article class="gallery-article animated rotateIn">
            <div class="gallery-zoom">
                <img src="../assets/img/product/chocolate-muffin.jpg">
            </div>
            <p>Chocolate Muffin</p>
        </article>

        <!-- Image 4 -->
        <article class="gallery-article animated rotateIn">
            <div class="gallery-zoom">
                <img src="../assets/img/product/twist-khari.jpg">
            </div>
            <p>Twist Khari</p>
        </article>

        <!-- Image 5 -->
        <article class="gallery-article animated rotateIn">
          <div class="gallery-zoom">
              <img src="../assets/img/product/nankhatai-2.JPG">
          </div>
          <p>Dryfruit Nankhatai</p>
      </article>

      <!-- Image 6 -->
      <article class="gallery-article animated rotateIn">
          <div class="gallery-zoom">
              <img src="../assets/img/product/roat.jpg">
          </div>
          <p>Almond Roat</p>
      </article>

      <!-- Image 7 -->
      <article class="gallery-article animated rotateIn">
          <div class="gallery-zoom">
              <img src="../assets/img/product/pav-ladi.jpg">
          </div>
          <p>Pav Ladi</p>
      </article>

      <!-- Image 8 -->
      <article class="gallery-article animated rotateIn">
          <div class="gallery-zoom">
              <img src="../assets/img/product/mawa-toast.jpg">
          </div>
          <p>Mawa Toast</p>
      </article>
    </div>
  </section>  
  
  <!-- ---------------------------- About -------------------------------------- -->
  <section class="p-4  bg-dark text-white" id="about" >
    <div class="container">
        <div class="row align-items-center about-row">
            <div class="col-md-6 about-text">
                <h3 class="about-title">About Us</h3>
                <p class="lead">Since 1997, we serve healthy bakery products to customer. We are one of only a handful few enduring Craft Bakeries in Jalgaon.</p>
                <p class="lead">We offer our clients a full scope of breads, Pav-Ladi, cakes and other baked goods. We known for our tasty baked goods, sweets cookies and cakes.</p>
            </div>
            <div class="col-md-6 about-img">
                <img src="../assets/img/product/cake.jpg" class="img-fluid img-thumbnail my-img">
            </div>
        </div>
    </div>
</section>

  <!-- ------------------------------ Contact ----------------------------------- -->
  <div class="contact-background">
  <section id="contact" >
    <!-- <div class="contact-background">
      <img  class="contact-img" src="../assets/img/contact.jpg" alt="">
    </div>-->
   
    <div class="container">
      <div class="row contact-row">
        <div class="col-md-3 col-sm-6 call-div">
          <div class="col-md-6">
            <span>
              <fa-icon [icon]="['fa', 'phone']"  title="Call Now" ></fa-icon>
            </span>
          </div>   
          <div class="call-now col-md-6 col-sm-6"><h5>Call Now</h5>
            <p>9370004361<br>
               8793300671</p>
          </div>
        </div>
        
        <div class="col-md-3 opening-hours-div">
          <div class="col-md-6">
            <span>
              <fa-icon [icon]="['fa', 'clock']" title="Opening Hours"></fa-icon>
            </span>
          </div>   
          <div class="opening-hours col-md-6"><h5>Opening Hours</h5>
            <p>Mon - Fri: 7:00 - 17:00 <br>
              Sat - Sun: 10:00 - 17:00</p>
          </div>
        </div>
        <div class="col-md-3 location-div">
          <div class="col-md-6">
            <span>
              <fa-icon [icon]="['fa', 'map-marker-alt']" title="Location"></fa-icon>
            </span>
          </div>   
          <div class="location col-md-6"><h5>Location</h5>
            <p>Plot No: 06, Apni Bakery  <br>
              Jalgaon Maharashtra</p>
          </div>
        </div>
        <div class="col-md-3 mail-div">
          <div class="col-md-6">
            <span>
              <fa-icon [icon]="['fa', 'envelope']" title="Mail Info"></fa-icon>
            </span>
          </div>   
          <div class="mail col-md-6"><h5>Mail</h5>
            <p>contact@apnibakery.com</p>
          </div>
        </div>
      </div>
    </div>
    
  </section>
</div>


  <!-- ------------------------------ Footer ------------------------------------ -->
  <section id="footer">
    <div class="footer-icons">
      <a class="icon" href="https://facebook.com"      target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'facebook']" title="Facebook" ></fa-icon></a>
      <a href="https://www.instagram.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'instagram']" title="Instagram"></fa-icon></a>
      <a href="https://www.twitter.com"   target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'twitter']" title="Twitter"></fa-icon></a> 
      
      
      <p class="footer-text">Copyright &copy; 2020 , Apni Bakery<br>
         All Rights Reserved<br>
         Developed By <br>
         <a href="https://nomaan-portfolio-project.firebaseapp.com/"  target="_blank" rel="noopener">Nomaan Shaikh</a>
         
         
      </p>
     
    </div>
  </section>


  <!-- ------------------------- GoTo Top Button --------------------------- -->

  <button id="topBtn">
    <fa-icon [icon]="['fa', 'arrow-up']" title="GoTo Top"></fa-icon>
  </button>

</div>